/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  width: 70%;
  margin: 0 auto;
}

@media (max-width: 1023px) {
  .container {
    width: 93%;
  }
}

.header {
  background-color: #222222;
}

.header__navigation {
  position: absolute;
  background: #FFFFFF;
  display: none;
  flex-direction: column;
  align-items: flex-end;
  width: 232px;
  height: 764px;
  top: 55px;
  left: 120px;
  z-index: 2;
}

@media (max-width: 1023px) {
  .header__navigation {
    left: -20%;
    top: 165%;
    height: 600px;
    width: 232px;
  }
}

@media (max-width: 767px) {
  .header__navigation {
    left: -702%;
    width: 830%;
  }
}

.header__navigation-item {
  margin: 0 0 0 34px;
}

@media (max-width: 1023px) {
  .header__navigation-item {
    margin: 0 0 0 30px;
  }
}

.header__button-nav {
  position: relative;
}

.header__title {
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 37px 0 24px 34px;
}

@media (max-width: 1023px) {
  .header__title {
    margin: 15px 0 20px 20px;
  }
}

.header__sub-title {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  text-transform: uppercase;
  color: #F16D7F;
  margin: 0 126px 12px 0;
}

.header__sub-navigation-list {
  margin: 12px 0 20px 21px;
}

.header__sub-navigation-item {
  margin-bottom: 11px;
}

.header__sub-navigation-link {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #6F6E6E;
}

.header a {
  text-decoration: none;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 75px;
}

.header__logo {
  margin-right: 41px;
}

.header__button-icon {
  fill: #e8e8e8;
}

.header__button-icon:hover {
  fill: #F16D7F;
  cursor: pointer;
}

.header__button-icon:focus {
  fill: #F16D7F;
  cursor: pointer;
}

.header__button {
  background: transparent;
  border: none;
  margin-right: 33px;
}

.header__button:hover + .header__navigation {
  display: block;
}

.header__button:focus + .header__navigation {
  display: block;
}

@media (max-width: 767px) {
  .header__button {
    margin-right: 0px;
  }
}

.header__registration {
  margin: 0 33px 0 0;
}

@media (max-width: 767px) {
  .header__registration {
    display: none;
  }
}

@media (max-width: 767px) {
  .header__cart {
    display: none;
  }
}

.brand {
  max-width: 1600px;
  margin: 0 auto 63px auto;
  display: flex;
}

@media (max-width: 1023px) {
  .brand {
    margin: 0 auto 19px auto;
  }
}

@media (max-width: 767px) {
  .brand {
    margin: 0 auto 64px auto;
  }
}

.brand__title-container {
  background: #F1E4E6;
  flex-grow: 1;
  padding: 0 0 0 92px;
  display: flex;
  align-items: center;
}

@media (max-width: 1023px) {
  .brand__title-container {
    padding: 0 0 0 68px;
  }
}

@media (max-width: 767px) {
  .brand__title-container {
    height: 363px;
    padding: 0 0 0 83px;
  }
}

.brand__title {
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
  text-transform: uppercase;
}

@media (max-width: 1023px) {
  .brand__title {
    font-size: 44px;
    line-height: 52px;
    font-weight: 900;
  }
}

@media (max-width: 767px) {
  .brand__title {
    font-size: 38px;
    line-height: 45px;
    font-weight: 900;
  }
}

.brand__sub-title {
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  display: block;
}

@media (max-width: 1023px) {
  .brand__sub-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
  }
}

@media (max-width: 767px) {
  .brand__sub-title {
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
  }
}

.brand__pink-sub-title {
  color: #F16D7F;
}

.brand__img {
  width: 50%;
  height: auto;
}

@media (max-width: 1023px) {
  .brand__img {
    width: 50%;
    height: auto;
  }
}

@media (max-width: 767px) {
  .brand__img {
    display: none;
  }
}

.promotion {
  margin: 0 auto 67px auto;
}

@media (max-width: 1023px) {
  .promotion {
    width: 96%;
    margin: 0 auto 154px auto;
  }
}

@media (max-width: 767px) {
  .promotion {
    margin: 0 auto 64px auto;
  }
}

.promotion__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.promotion__item {
  width: 31%;
  min-height: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 30px auto;
}

@media (max-width: 1023px) {
  .promotion__item {
    width: 32%;
    margin: 0 auto 19px auto;
  }
}

@media (max-width: 767px) {
  .promotion__item {
    width: 91%;
    margin: 0 auto 32px auto;
  }
}

.promotion__link {
  text-decoration: none;
}

.promotion__title {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
}

.promotion__text {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  text-transform: uppercase;
  color: #F16D7F;
  text-align: center;
}

.promotion__item--women {
  background-image: url("../img/sale-for-women.jpg");
  background-size: cover;
}

.promotion__item--man {
  background-image: url("../img/sale-for-man.jpg");
  background-size: cover;
}

.promotion__item--kids {
  background-image: url("../img/sale-for-kids.jpg");
  background-size: cover;
}

.promotion__item--accesories {
  background-image: url("../img/sale-accesories.jpg");
  background-size: cover;
  width: 100%;
}

@media (max-width: 1023px) {
  .promotion__item--accesories {
    min-height: 116px;
  }
}

@media (max-width: 767px) {
  .promotion__item--accesories {
    min-height: 111px;
    width: 91%;
  }
}

.product {
  margin: 0 auto 96px auto;
}

@media (max-width: 1023px) {
  .product {
    margin: 0 auto 65px auto;
  }
}

.product__title-section {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 6px;
  color: #222222;
}

.product__text-section {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  text-align: center;
  color: #9f9f9f;
  margin: 0 auto 48px auto;
}

@media (max-width: 1023px) {
  .product__text-section {
    margin: 0 auto 74px auto;
  }
}

@media (max-width: 767px) {
  .product__text-section {
    margin: 0 auto 65px auto;
  }
}

.product__button-all {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 211px;
  height: 47px;
  background: transparent;
  border: 1px solid #FF6A6A;
  color: #F26376;
}

.product__button-all:hover, .product__button-all:focus {
  background-color: #F16D7F;
  color: #FFFFFF;
  cursor: pointer;
}

.product__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 0 19px 0;
}

@media (max-width: 1023px) {
  .product__list {
    margin: 0 0 2px 0;
  }
}

.product__item {
  width: 360px;
  margin-bottom: 30px;
  position: relative;
}

.product__item:hover .product__hover, .product__item:focus .product__hover {
  display: block;
}

.product__img {
  display: block;
}

.product__hover {
  display: none;
  width: 360px;
  height: 420px;
  position: absolute;
  background: rgba(58, 56, 56, 0.86);
  top: 0;
}

.product__button {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 138px;
  height: 43px;
  position: absolute;
  margin: auto;
  top: 188px;
  left: 110px;
  background: transparent;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
}

.product__button-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  fill: #FFFFFF;
}

.product__description {
  background: #f8f8f8;
  padding: 25px 29px 20px 17px;
}

.product__title {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 13px;
}

.product__text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  color: #5D5D5D;
  margin-bottom: 18px;
}

.product__price {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: #F16D7F;
}

.aside {
  background: #222224;
}

.aside__list {
  max-width: 96%;
  display: flex;
  align-items: center;
  min-height: 341px;
}

@media (max-width: 1023px) {
  .aside__list {
    display: flex;
    flex-direction: column;
    max-width: 53%;
    padding: 0 0 64px 0;
  }
}

@media (max-width: 767px) {
  .aside__list {
    max-width: 93%;
    padding: 0 0 81px 0;
  }
}

.aside__item {
  min-width: 31%;
  text-align: center;
  margin: 0 10px 0 0;
}

@media (max-width: 1023px) {
  .aside__item {
    margin: 49px 0 0 0;
  }
}

.aside__img {
  margin-bottom: 25px;
}

.aside__title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.aside__text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  color: #FFFFFF;
}

.footer__review {
  background-image: url(../img/footer.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__review-list {
  min-height: 448px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1023px) {
  .footer__review-list {
    width: 81%;
    flex-direction: column;
    align-items: center;
    padding: 53px 0 0 0;
    height: 693px;
    justify-content: space-evenly;
  }
}

@media (max-width: 767px) {
  .footer__review-list {
    height: 550px;
    padding: 0 0 59px 0;
  }
}

.footer__review-item {
  max-width: 360px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__review-avatar {
  margin-bottom: 30px;
}

.footer__review-text {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  color: #222224;
}

@media (max-width: 767px) {
  .footer__review-text {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
  }
}

.footer__review-title-subscription {
  font-size: 24px;
  line-height: 40px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .footer__review-title-subscription {
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
  }
}

.footer__review-subscription {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  display: block;
}

@media (max-width: 767px) {
  .footer__review-subscription {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
  }
}

.footer__form-subscription {
  display: flex;
  margin-top: 32px;
}

.footer__input-subscription {
  padding: 1.5em;
  width: 200px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border: none;
  background: #e1e1e1;
}

@media (max-width: 767px) {
  .footer__input-subscription {
    width: 187px;
    padding: 1em;
  }
}

.footer__input-subscription::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #222224;
  opacity: 0.67;
}

.footer__input-subscription::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.footer__input-subscription::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.footer__input-subscription:-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.footer__input-subscription:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.footer__input-subscription:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.footer__input-subscription:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.footer__input-subscription:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.footer__input-subscription:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.footer__button-subscribe {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  background: #E05C6E;
  border: 1px solid #FF6A6A;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 1.5em;
  color: #FFFFFF;
}

@media (max-width: 767px) {
  .footer__button-subscribe {
    padding: 1em;
  }
}

.footer__button-subscribe:hover {
  cursor: pointer;
}

.footer__social {
  background: #222224;
}

.footer__social-list {
  display: flex;
  min-height: 79px;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .footer__social-list {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.footer__social-copyrigh {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: #FFFFFF;
  align-self: center;
  flex-grow: 1;
}

@media (max-width: 767px) {
  .footer__social-copyrigh {
    padding: 0 0 9px 0;
  }
}

.footer__social-item {
  align-self: center;
  margin-right: 7px;
}

@media (max-width: 767px) {
  .footer__social-item {
    margin: 43px 7px 40px 7px;
  }
}

.footer__social-mobile {
  display: flex;
  align-items: center;
}

.footer__icon {
  min-width: 25px;
  min-height: 25px;
  padding: 7px;
  fill: #222222;
  background: #FFFFFF;
}

.footer__icon:hover {
  fill: #FFFFFF;
  background: #F16D7F;
}

.registration__title {
  background: #F8F3F4;
}

.registration__title-text {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  min-height: 148px;
  text-transform: uppercase;
  color: #F16D7F;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 767px) {
  .registration__title-text {
    align-items: center;
  }
}

.registration__forms {
  margin: 64px auto 96px auto;
}

@media (max-width: 1023px) {
  .registration__forms {
    width: 96%;
    margin: 40px auto 96px auto;
  }
}

@media (max-width: 767px) {
  .registration__forms {
    margin: 0;
    margin-top: 40px;
    width: 100%;
  }
}

.registration__legend {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
}

.registration__input {
  padding: 1em;
  display: block;
  width: 85%;
  border: 1px solid #A4A4A4;
  margin-top: 20px;
}

@media (max-width: 767px) {
  .registration__input {
    width: 94%;
  }
}

.registration__input-name::-webkit-input-placeholder {
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  color: #b1b1b1;
}

.registration__sex {
  margin: 34px 0 35px 0;
}

.registration__sex-radio {
  display: none;
}

.registration__sex-radio:checked + .registration__sex-label::after {
  display: block;
}

.registration__sex-label {
  position: relative;
  margin-left: 46px;
}

.registration__sex-label::before {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  left: -30px;
  top: -2px;
  border: 1px solid #a4a4a4;
  border-radius: 50%;
}

.registration__sex-label::after {
  content: '';
  position: absolute;
  width: 9px;
  height: 9px;
  left: -25px;
  top: 2px;
  border: 1px solid #E05C6E;
  border-radius: 50%;
  background: #FF6A6A;
  display: none;
}

.registration__item {
  width: 57%;
}

@media (max-width: 1023px) {
  .registration__item {
    width: 49%;
  }
}

@media (max-width: 767px) {
  .registration__item {
    width: 94%;
  }
}

.registration__item-form {
  width: 57%;
}

@media (max-width: 1023px) {
  .registration__item-form {
    width: 49%;
  }
}

@media (max-width: 767px) {
  .registration__item-form {
    width: 100%;
  }
}

.registration__form-text {
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  color: #b1b1b1;
  margin-top: 15px;
  width: 92%;
}

.registration__button {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  background: #E05C6E;
  border: 1px solid #FF6A6A;
  text-transform: uppercase;
  color: #FFFFFF;
  min-width: 167px;
  min-height: 50px;
  margin: 39px auto 0 auto;
  cursor: pointer;
}

@media (max-width: 767px) {
  .registration__button {
    margin: 39px auto 40px auto;
  }
}

.registration__button-arrow {
  fill: #FFFFFF;
  margin-left: 20px;
}

.registration__list {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .registration__list {
    flex-direction: column;
    margin: 0 auto 100px auto;
  }
}

.registration__box-title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 22px;
}

@media (max-width: 1023px) {
  .registration__box-title {
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    margin-bottom: 32px;
  }
}

.registration__box-text {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  margin-bottom: 20px;
}

@media (max-width: 1023px) {
  .registration__box-text {
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    margin-bottom: 22px;
  }
}

.registration__box-list {
  margin-left: 25px;
}

.registration__box-item {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  margin-bottom: 16px;
  position: relative;
}

@media (max-width: 1023px) {
  .registration__box-item {
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    margin-bottom: 16px;
  }
}

.registration__box-item::before {
  content: '';
  width: 20px;
  height: 16px;
  position: absolute;
  top: 5px;
  left: -25px;
  background-repeat: no-repeat;
  background-image: url(../img/check-mark.svg);
  background-size: 15px 15px;
}

.cart__title {
  background: #F8F3F4;
}

.cart__title-text {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  min-height: 148px;
  text-transform: uppercase;
  color: #F16D7F;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 767px) {
  .cart__title-text {
    align-items: center;
  }
}

.cart__products {
  margin-top: 96px;
}

@media (max-width: 1023px) {
  .cart__products {
    margin-top: 59px;
  }
}

.cart__products-img {
  width: 50%;
  height: auto;
}

@media (max-width: 767px) {
  .cart__products-img {
    width: 39%;
  }
}

.cart__products-list {
  width: 58%;
}

@media (max-width: 1023px) {
  .cart__products-list {
    width: 100%;
  }
}

.cart__products-form {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1023px) {
  .cart__products-form {
    flex-direction: column;
  }
}

.cart__products-item {
  display: flex;
  margin-bottom: 40px;
  box-shadow: 1.4em 1.4em 15px rgba(122, 122, 122, 0.2);
}

.cart__products-info {
  padding: 22px 0 62px 31px;
}

@media (max-width: 767px) {
  .cart__products-info {
    width: 57%;
    padding: 13px 0 38px 17px;
  }
}

.cart__products-info-title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 42px;
  width: 62%;
}

@media (max-width: 1023px) {
  .cart__products-info-title {
    width: 94%;
  }
}

@media (max-width: 767px) {
  .cart__products-info-title {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    width: 61%;
  }
}

.cart__products-info-text {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #575757;
  margin-bottom: 6px;
}

@media (max-width: 767px) {
  .cart__products-info-text {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
  }
}

.cart__products-info-text-price {
  color: #F16D7F;
}

.cart__products-info-text-quantity {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #575757;
  display: flex;
}

@media (max-width: 767px) {
  .cart__products-info-text-quantity {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
  }
}

.cart__products-info-input {
  margin-left: 24px;
  max-width: 11%;
  max-height: 24px;
  text-align: center;
  border: 1px solid #eaeaea;
  color: #656565;
}

.cart__products-button {
  display: flex;
  justify-content: space-between;
  margin: 72px auto 129px auto;
}

@media (max-width: 1023px) {
  .cart__products-button {
    justify-content: space-around;
    margin: 62px auto 64px auto;
  }
}

@media (max-width: 767px) {
  .cart__products-button {
    justify-content: space-between;
    margin: 30px auto 48px auto;
  }
}

.cart__products-button-clear {
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
  text-transform: uppercase;
  width: 44%;
  height: 51px;
  border: 1px solid #a4a4a4;
  background: #FFFFFF;
  cursor: pointer;
}

@media (max-width: 767px) {
  .cart__products-button-clear {
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    height: 32px;
  }
}

.cart__products-button-back {
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
  text-transform: uppercase;
  width: 44%;
  height: 49px;
  border: 1px solid #a4a4a4;
  background: #FFFFFF;
  text-decoration: none;
  color: #222222;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 767px) {
  .cart__products-button-back {
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    height: 32px;
  }
}

.cart__arrage {
  width: 31%;
  margin: 0 auto 0 128px;
}

@media (max-width: 1023px) {
  .cart__arrage {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 147px auto;
  }
}

@media (max-width: 767px) {
  .cart__arrage {
    flex-direction: column;
    margin: 0 auto 96px auto;
  }
}

@media (max-width: 1023px) {
  .cart__adress {
    width: 48%;
  }
}

@media (max-width: 767px) {
  .cart__adress {
    width: 100%;
  }
}

.cart__adress-title {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  color: #222222;
  text-transform: uppercase;
  margin-bottom: 21px;
}

.cart__adress-input {
  padding: 1em;
  display: block;
  width: 93%;
  border: 1px solid #A4A4A4;
  margin-top: 20px;
}

.cart__adress-button {
  font-size: 11px;
  line-height: 13px;
  font-weight: 300;
  text-transform: uppercase;
  width: 100px;
  height: 34px;
  border: 1px solid #a4a4a4;
  background: #FFFFFF;
  cursor: pointer;
  margin-top: 24px;
}

.cart__checkout {
  margin-top: 57px;
  background: #f5f5f3;
  max-width: 100%;
  min-height: auto;
  padding: 1px 0;
}

@media (max-width: 1023px) {
  .cart__checkout {
    margin-top: 40px;
    width: 48%;
  }
}

@media (max-width: 767px) {
  .cart__checkout {
    margin-top: 48px;
    width: 100%;
  }
}

.cart__checkout-sub {
  font-size: 11px;
  line-height: 13px;
  font-weight: 400;
  text-align: right;
  color: #A4A4A4;
  text-transform: uppercase;
  margin: 39px 34px 12px auto;
}

.cart__checkout-sub-price {
  margin-left: 20px;
}

.cart__checkout-grand {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  text-align: right;
  text-transform: uppercase;
  margin: 0 37px 21px auto;
}

.cart__checkout-grand-price {
  color: #F16D7F;
  margin-left: 20px;
}

.cart__checkout-hr {
  border: 0.1px solid #e2e2e2;
  margin: 0 42px 17px;
}

.cart__checkout-button {
  display: flex;
  margin: 0 auto 42px auto;
  min-width: 83%;
  min-height: 50px;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  background: #F16D7F;
  border: 1px solid #FF6A6A;
  color: #FFFFFF;
  cursor: pointer;
}

@media (max-width: 1023px) {
  .cart__checkout-button {
    min-width: 74%;
  }
}

@media (max-width: 767px) {
  .cart__checkout-button {
    min-width: 83%;
  }
}
/*# sourceMappingURL=style.css.map */