:root {
    --black-color: #222222;
    --aside-black-color: #222224;
    --white-color: #FFFFFF;
    --grey-color: #f8f8f8;
    --medium-grey-color: #9f9f9f;
    --dark-grey-color: #5D5D5D;
    --menu-grey-color: #6F6E6E;
    --pink-color: #F1E4E6;
    --dark-pink-color: #F16D7F;
    --medium-pink-color:  #FF6A6A;
    --all-products-pink-color: #F26376;
}

body {
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 17px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header {
    background-color: var(--black-color);
}

.header__navigation {
    background: var(--white-color);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header__title {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    margin: 37px 143px 24px 0;
}

.header__sub-title {
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: var(--dark-pink-color);
    margin: 0 126px 12px 0;
}

.header__sub-navigation-list{
    margin: 12px 0 20px 21px;
}

.header__sub-navigation-item {
    margin-bottom: 11px;
}

.header__sub-navigation-link {
    font-size: 14px;
    line-height: 17px;
    color: var(--menu-grey-color);
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
}

.header__logo {
    margin-right: 41px;
}

.header__button {
    background: transparent;
    border: none;
    margin-right: 33px;
}

.header__authorization {
    margin-right: 33px;
}

.brand {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 63px;
}

.brand__title-container {
    background: var(--pink-color);
    flex-grow: 1;
    padding-left: 92px;
    display: flex;
    align-items: center;
}

.brand__title {
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    text-transform: uppercase;
}

.brand__sub-title {
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    display: block;
}

.brand__pink-sub-title {
    color: var(--dark-pink-color);
}

.promotions {
    margin-bottom: 67px;
}

.promotion__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.promotion__item {
    width: 360px;
    min-height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.promotion__link {
    text-decoration: none;
}

.promotion__title {
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: var(--white-color);
    text-align: center;
}

.promotion__text {
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: var(--dark-pink-color);
    text-align: center;
}

.promotion__item--women {
    background-image: url("../img/sale-for-women.jpg");
    background-size: cover;
}

.promotion__item--man {
    background-image: url("../img/sale-for-man.jpg");
    background-size: cover;
}

.promotion__item--kids {
    background-image: url("../img/sale-for-kids.jpg");
    background-size: cover;
}

.promotion__item--accesories {
    background-image: url("../img/sale-accesories.jpg");
    background-size: cover;
    width: 100%;
}

.products__title {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    margin-bottom: 6px;
    color: var(--black-color);
}

.products__text {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: var(--medium-grey-color);
    margin-bottom: 48px;
}

.product__button {
    display: none;
}

.product__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 19px;
}

.product__item {
    width: 360px;
    margin-bottom: 30px;
}

.product__img {
    display: block;
}

.product__description {
    background: var(--grey-color);
    padding: 25px 29px 20px 17px;
}

.product__title {
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    margin-bottom: 13px;
}

.product__text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: var(--dark-grey-color);
    margin-bottom: 18px;
}

.product__price {
    font-size: 16px;
    line-height: 19px;
    color: var(--dark-pink-color)
}

.products__button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 211px;
    height: 47px;
    background: transparent;
    border: 1px solid var(--medium-pink-color);
    font-size: 16px;
    line-height: 19px;
    color: var(--all-products-pink-color);
}

.products {
    margin-bottom: 96px;
}

.aside {
    background: var(--aside-black-color);
}

.aside__list {
    display: flex;
    align-items: center;
    min-height: 341px;
}

.aside__item {
    text-align: center;
}

.aside__img {
    margin-bottom: 25px;
}

.aside__title {
    color: var(--white-color);
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 16px;
}

.aside__text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: var(--white-color);
}

.footer__top {
    background-image: url(../img/footer.png);
}
.footer__top-list {
    min-height: 448px;
    display: flex;
    justify-content: space-between;
}

.footer__top-item {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__top-avatar {
    margin-bottom: 30px;
}

.footer__top-text {
    font-size: 20px;
    line-height: 24px;
    width: 360px;
    text-align: center;
    color: var(--aside-black-color);
}

.footer__top-title-subscription {
    font-weight: bold;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
}

.footer__top-subscription {
    font-size: 18px;
    line-height: 28px;
    display: block;
    font-weight: normal;
}

.footer__bottom {
    background: var(--aside-black-color);
}

.footer__bottom-list {
    display: flex;
    min-height: 79px;
}

.footer__bottom-copyrigh {
    font-size: 16px;
    line-height: 19px;
    color: var(--white-color);
    align-self: center;
    flex-grow: 1;
}

.footer__bottom-item {
    align-self: center;
    margin-right: 7px;
}