body {
    font-family: Lato;
    @include font(14px, 17px, 300);
    font-style: normal;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.container {
    width: 70%;
    margin: 0 auto;

    @include tablet {
        width: 93%;
    }
}