$black-color: #222222;
$aside-black-color: #222224;
$white-color: #FFFFFF;
$grey-color: #f8f8f8;
$header-icon-color: #e8e8e8;
$medium-grey-color: #9f9f9f;
$radio-grey-color: #a4a4a4;
$dark-grey-color: #5D5D5D;
$menu-grey-color: #6F6E6E;
$input-grey-color: #e1e1e1;
$input-registration-color: #A4A4A4;
$input-registration-text-color: #b1b1b1;
$pink-color: #F1E4E6;
$dark-pink-color: #F16D7F;
$medium-pink-color:  #FF6A6A;
$all-products-pink-color: #F26376;
$footer-button-subscribe-color: #E05C6E;
$pallido-pink-color: #F8F3F4;
$hover-cards-color: rgba(58, 56, 56, 0.86);
$cart-text-color: #575757;
$cart-input-color: #eaeaea;
$cart-input-text-color: #656565;
$cart-checkout-color: #f5f5f3;
$cart-hr-color: #e2e2e2;