.aside {
    background: $aside-black-color;

    &__list {
        display: flex;
        align-items: center;
        min-height: 341px;
    }
    
    &__item {
        text-align: center;
    }
    
    &__img {
        margin-bottom: 25px;
    }
    
    &__title {
        @include font(20px, 24px, 400);
        color: $white-color;
        margin-bottom: 16px;
    }
    
    &__text {
        @include font(14px, 17px, 300);
        color: $white-color;
    }
}