.brand {
    max-width: 1600px;
    margin: 0 auto 63px auto;
    display: flex;

    @include tablet {
        margin: 0 auto 19px auto;
    }

    @include mobile {
        margin: 0 auto 64px auto;
    }

    &__title-container {
        background: $pink-color;
        flex-grow: 1;
        padding: 0 0 0 92px;
        display: flex;
        align-items: center;

        @include tablet {
            padding: 0 0 0 68px;
        }

        @include mobile {
            height: 363px;
            padding: 0 0 0 83px;
        }
    }
    
    &__title {
        @include font(48px, 58px, 900);
        text-transform: uppercase;

        @include tablet {
            @include font(44px, 52px, 900);
        }

        @include mobile {
            @include font(38px, 45px, 900);
        }
    }
    
    &__sub-title {
        @include font(32px, 38px, 700);
        display: block;

        @include tablet {
            @include font(24px, 28px, 700);
        }

        @include mobile {
            @include font(22px, 24px, 700);
        }
    }
    
    &__pink-sub-title {
        color: $dark-pink-color;
    }

    &__img {
        width: 50%;
        height: auto;

        @include tablet {
            width: 50%;
            height: auto;
        }

        @include mobile {
            display: none;
        }
    }
}