.cart {

    &__title {
        display: flex;
        min-height: 148px;
        background: $pallido-pink-color;
    
        &-text {
            @include font(24px, 29px, 400);
            text-transform: uppercase;
            color: $dark-pink-color;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include mobile {
                align-items: center;
                flex-direction: column;
            }
        }
    }
    
    &__products {
        margin-top: 96px;

        @include tablet {
            margin-top: 59px;
        }

        &-img {
            width: 50%;
            height: auto;

            @include mobile {
                width: 39%;
            }
        }

        &-list {
            width: 58%;

            @include tablet {
                width: 100%;
            }
        }
    
        &-form {
            display: flex;
            justify-content: space-between;

            @include tablet {
                flex-direction: column;
            }
        }
    
        &-item {
            display: flex;
            margin-bottom: 40px;
            box-shadow: 1.4em 1.4em 15px rgba(122,122,122,0.2);
        }
    
        &-info {
            padding: 22px 0 62px 31px;

            @include mobile {
                width: 57%;
                padding: 13px 0 38px 17px;
            }
    
            &-title {
                @include font(24px, 29px, 400);
                text-transform: uppercase;
                margin-bottom: 42px;
                width: 62%;

                @include tablet {
                    width: 94%;
                }

                @include mobile {
                    @include font(16px, 19px, 400);
                    width: 61%;
                }
            }
            
            &-text {
                @include font(22px, 26px, 400);
                color: $cart-text-color;
                margin-bottom: 6px;

                @include mobile {
                    @include font(14px, 17px, 400);
                }
    
                &-price {
                    color: $dark-pink-color;
                }
    
                &-quantity {
                    @include font(22px, 26px, 400);
                    color: $cart-text-color;
                    display: flex;

                    @include mobile {
                        @include font(14px, 17px, 400);
                    }
                }
            }
    
            &-input {
                margin-left: 24px;
                max-width: 11%;
                max-height: 24px;
                text-align: center;
                border: 1px solid $cart-input-color;
                color: $cart-input-text-color;
            }
        }
    
        &-button {
            display: flex;
            justify-content: space-between;
            margin: 72px auto 129px auto;

            @include tablet {
                justify-content: space-around;
                margin: 62px auto 64px auto;
            }

            @include mobile {
                justify-content: space-between;
                margin: 30px auto 48px auto;
            }
    
            &-clear {
                @include font(14px, 16px, 300);
                text-transform: uppercase;
                width: 44%;
                height: 51px;
                border: 1px solid $radio-grey-color;
                background: $white-color;
                cursor: pointer;

                @include mobile {
                    @include font(12px, 14px, 400);
                    height: 32px;
                }
            }
    
            &-back {
                @include font(14px, 16px, 300);
                text-transform: uppercase;
                width: 44%;
                height: 49px;
                border: 1px solid $radio-grey-color;
                background: $white-color;
                text-decoration: none;
                color: $black-color;
                display: flex;
                align-items: center;
                justify-content: center;

                @include mobile {
                    @include font(12px, 14px, 400);
                    height: 32px;
                }
            }
        }
    }
    
    &__arrage {
        width: 31%;
        margin: 0 auto 0 128px;

        @include tablet {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin: 0 auto 147px auto;
        }

        @include mobile {
            flex-direction: column;
            margin: 0 auto 96px auto;
        }
    }
    
    &__address {

        @include tablet {
            width: 48%;
        }

        @include mobile {
            width: 100%
        }
    
        &-title {
            @include font(16px, 19px, 300);
            color: $black-color;
            text-transform: uppercase;
            margin-bottom: 21px;
        }
    
        &-input {
            padding: 1em;
            display: block;
            width: 93%;
            border: 1px solid $input-registration-color;
            margin-top: 20px;
        }
    
        &-button {
            @include font(11px, 13px, 300);
                text-transform: uppercase;
                width: 100px;
                height: 34px;
                border: 1px solid $radio-grey-color;
                background: $white-color;
                cursor: pointer;
                margin-top: 24px;
        }
    }
    
    &__checkout {
        margin-top: 57px;
        background: $cart-checkout-color;
        max-width: 100%;
        min-height: auto;
        padding: 1px 0;

        @include tablet {
            margin-top: 40px;
            width: 48%
        }

        @include mobile {
            margin-top: 48px;
            width: 100%;
        }
    
        &-sub {
            @include font(11px, 13px, 400);
            text-align: right;
            color: $input-registration-color;
            text-transform: uppercase;
            margin: 39px 34px 12px auto;
    
            &-price {
                margin-left: 20px;
            }
        }
    
        &-grand {
            @include font(16px, 19px, 300);
            text-align: right;
            text-transform: uppercase;
            margin: 0 37px 21px auto;
    
            &-price {
                color: $dark-pink-color;
                margin-left: 20px;
            }
        }
    
        &-hr {
            border: 0.1px solid $cart-hr-color;
            margin: 0 42px 17px;
        }
    
        &-button {
            display: flex;
            margin: 0 auto 42px auto;
            min-width: 83%;
            min-height: 50px;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
            background: $dark-pink-color;
            border: 1px solid $medium-pink-color;
            color: $white-color;
            cursor: pointer;

            @include tablet {
                min-width: 74%;
            }

            @include mobile {
                min-width: 83%;
            }
        }
    }
}