.footer__review {
    background-image: url(../img/footer.png);

    &-list {
        min-height: 448px;
        display: flex;
        justify-content: space-between;
    }
    
    &-item {
        max-width: 360px;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    &-avatar {
        margin-bottom: 30px;
    }
    
    &-text {
        @include font(20px, 24px, 360);
        text-align: center;
        color: $aside-black-color;
    }
    
    &-title-subscription {
        @include font(24px, 40px, 700);
        text-align: center;
        text-transform: uppercase;
    }
    
    &-subscription {
        @include font(18px, 28px, 400);
        display: block;
    }
}

.footer__form-subscription {
    display: flex;
    margin-top: 32px;
}

.footer__input-subscription {
    padding: 1.5em;
    width: 200px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border:none;
    background: $input-grey-color;

    &::-webkit-input-placeholder {
        @include font(14px, 17px, 400);
        color: $aside-black-color;
        opacity: 0.67;
    }
    &::-webkit-input-placeholder {
        opacity: 1;
        transition: opacity 0.3s ease;
    }
    
    &::-moz-placeholder {
        opacity: 1;
        transition: opacity 0.3s ease;
    }
    
    &:-moz-placeholder {
        opacity: 1;
        transition: opacity 0.3s ease;
    }
    
    &:-ms-input-placeholder {
        opacity: 1;
        transition: opacity 0.3s ease;
    }
    
    &:focus::-webkit-input-placeholder {
        opacity: 0;
        transition: opacity 0.3s ease;
    }
    
    &:focus::-moz-placeholder {
        opacity: 0;
        transition: opacity 0.3s ease;
    }
    
    &:focus:-moz-placeholder {
        opacity: 0;
        transition: opacity 0.3s ease;
    }
    
    &:focus:-ms-input-placeholder {
        opacity: 0;
        transition: opacity 0.3s ease;
    }
}

.footer__button-subscribe {
    @include font(14px, 17px, 400);
    background: $footer-button-subscribe-color;
    border: 1px solid $medium-pink-color;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 1.5em;
    color: $white-color;

    &:hover {
        cursor: pointer;
    }
}

.footer__social {
    background: $aside-black-color;

    &-list {
        display: flex;
        min-height: 79px;
    }

    &-copyrigh {
        @include font(16px, 19px, 400);
        color: $white-color;
        align-self: center;
        flex-grow: 1;
    }

    &-item {
        align-self: center;
        margin-right: 7px;
    }
}

.footer__icon {
    min-width: 25px;
    min-height: 25px;
    padding: 7px;
    fill: $black-color;
    background: $white-color;

    &:hover {
        fill: $white-color;
        background: $dark-pink-color;
    }
}