.header {
    background-color: $black-color;

    &__navigation {
        position: absolute;
        background: $white-color;
        display: none;
        flex-direction: column;
        align-items: flex-end;
        width: 232px;
        height: 764px;
        top: 55px;
        left: 120px;
        z-index: 2;

        @include tablet {
            left: -20%;
            top: 165%;
            height: 600px;
            width: 232px;
        }

        @include mobile {
            left: -702%;
            width: 830%;
        }

        &-list {
            margin: 0 0 0 22px;
        }
    }
    
    &__button-nav {
        position: relative;
    }

    &__title {
        @include font(14px, 17px, 700);
        text-transform: uppercase;
        margin: 10px auto 24px 24px;

        @include tablet {
            margin: 15px 0 20px 20px;
        }
    }
    
    &__sub {
        &-title {
            @include font(14px, 17px, 400);
            text-transform: uppercase;
            color: $dark-pink-color;
        }

        &__sub-navigation{
            
            &-item {
            margin-bottom: 11px;
            }

            &-list {
                margin: 0 0 0 12px;
            }

            &-link {
                @include font(14px, 17px, 400);
                color: $menu-grey-color;
            }
        }
    }
    & a {
        text-decoration: none;
    }
    
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 75px;
    }
    
    &__logo {
        margin-right: 41px;

        @include mobile {
            margin-left: 16px;
        }
    }
    
    &__button-icon {
        fill: $header-icon-color;

        &:hover {
            fill: $dark-pink-color;
            cursor: pointer;
        }
        &:focus {
            fill: $dark-pink-color;
            cursor: pointer;
        }
    }

    &__registration {
        margin: 0 33px 0 0;
        
        @include mobile {
            display: none;
        }
    }

    &__cart {
        
        @include mobile {
            display: none;
        }
    }
}

.burger {
    margin: 0 25px 0 0;
}   